<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>A</string>
    <string>a</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>ampersand</string>
    <string>question</string>
    <string>period</string>
    <string>periodcentered</string>
    <string>colon</string>
    <string>comma</string>
    <string>quotesingle</string>
    <string>hyphen</string>
    <string>uni2032</string>
    <string>uni2033</string>
    <string>slash</string>
    <string>slash.case</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>sterling</string>
    <string>percent</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>onethird</string>
    <string>twothirds</string>
    <string>uni2192</string>
    <string>uni2191</string>
    <string>uni2193</string>
    <string>dotlessi</string>
    <string>glyph88</string>
    <string>space</string>
  </array>
</dict>
</plist>
